h1 {
  color: red;
  font-family: 'Arial', sans-serif;
}
h1:link {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  text-decoration: none;
  color: red;
}
    }
    .unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
  border-radius: 15px 15px  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hotpink;
  border-radius: 15px 15px  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: deeppink; 
}
body {
    background-color: black;
}
p {
  color: red;
 font-family: 'Arial', sans-serif;    
}
button {
     background-color: #f2eded; /* Green */
  border: none;
  color: red;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button3 {
  background-color: black; 
  color: white
  ; 
  border: 2px solid #f44336;
  }
  .button3:hover {
  background-color: #ff1605;
  color: white;
}
